<%- include('partials/header.ejs') %>

<section class="u-clearfix u-section-1 mt-3 mb-5 pb-5" id="sec-33e1">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3
      class="u-custom-font u-font-montserrat u-text u-text-custom-color-1 u-text-default u-text-1"
    >
      <span style="font-size: 3rem; font-weight: 700; color: rgba(50, 50, 50, 0.89)">About Us</span>
      <span style="font-weight: 700"></span>
    </h3>
    <img
      class="u-image u-image-round u-radius-10 u-image-1"
      src="images/5495.jpg"
      alt=""
      data-image-width="1920"
      data-image-height="1280"
    />
    <p class="u-text u-text-2 mb-5">
      CS Tech Tracks is a platform where Computer Science students can access extensive roadmaps of
      various major computer science fields for instance Frontend Development, Backend Development,
      Mobile Development, Data Science, Cloud Computing, DevOps and more.
    </p>
  </div>
</section>

<%- include('partials/footer.ejs') %>
