<%- include('partials/header.ejs') %>



  <div class="container-fluid">
    <h3 class="text-center ">Create Your Own Blog</h3>
    <form class="row g-3">
      <div class="col-md-12">
        <label class="custom-label" for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
      </div>

      <div class="col-12">
        <label class="custom-label" for="headline" class="form-label">Headline</label>
        <input type="text" class="form-control" id="headline">
      </div>
      <div class="col-12">
        <label class="custom-label" for="img" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="headline">
      </div>

      <div class="col-12">
        <label class="custom-label" for="textArea" class="form-label">Content</label>
        <textarea class="form-control" id="textArea" rows="100"></textarea>
      </div>
    </form>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto mt-4  ">
    <button type="submit" style="background-color:#4a44d7b3; color: white;height: 50px;" class="btn ">Post Blog</button>
  </div>


<%- include('partials/footer.ejs') %>