<%- include('partials/header.ejs') %>


  <h1 class="text-center mt-5 pt-3 mb-5">Our Blogs</h1>

  <!-- <div class="parent d-block p-2" style="inline-size: fit-content;">
    <a href="add_blog.html" class="btn float-end buttons btn-lg " id="circle-btn"
      style=" background-color: #726fb7b3;"><img class="icon" height="27px; width:27px;" src="images/plus.png"
        alt=""></a>
  </div> -->

  <div class="container pb-5 mb-5 pt-3">
    <div class="row gy-5 mb-5 pb-5" style="height: auto; overflow:hidden; ">
      <div class="col-sm-4 text-center">
        <div class="card border-0 " style="background-color:#bbbbd5b3;">
          <div class="card-body">
            <img src="images/finde-zukunft-W1lkzFvXxIs-unsplash.jpg" class="card-img-top" alt="..." height="300px">
            <p style="font-size: 23px; padding-top:12px;">Headline</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>#date#</p>
            <a href="blog_detail.html" class="btn btn-lg text-white" style="background-color: #726fb7b3;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-0 ">
          <div class="card-body">
            <img src="images/finde-zukunft-W1lkzFvXxIs-unsplash.jpg" class="card-img-top" alt="..." height="300px">
            <p style="font-size: 23px; padding-top:12px;">Headline</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>#date#</p>
            <a href="blog_detail.html" class="btn btn-lg text-white" style="background-color: #726fb7b3;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center  ">
        <div class="card border-0  " style="background-color:#bbbbd5b3;">
          <div class="card-body">
            <img src="images/finde-zukunft-W1lkzFvXxIs-unsplash.jpg" class="card-img-top" alt="..." height="300px">
            <p style="font-size: 23px; padding-top:12px;">Headline</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>#date#</p>
            <a href="blog_detail.html" class="btn btn-lg text-white" style="background-color: #726fb7b3;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-0" style="background-color:#bbbbd5b3;">
          <div class="card-body">
            <img src="images/finde-zukunft-W1lkzFvXxIs-unsplash.jpg" class="card-img-top" alt="..." height="300px">
            <p style="font-size: 23px; padding-top:12px;">Headline</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>#date#</p>
            <a href="blog_detail.html" class="btn  btn-lg text-white" style="background-color: #726fb7b3;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-0 ">
          <div class="card-body">
            <img src="images/finde-zukunft-W1lkzFvXxIs-unsplash.jpg" class="card-img-top" alt="..." height="300px">
            <p style="font-size: 23px; padding-top:12px;">Headline</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>#date#</p>
            <a href="blog_detail.html" class="btn btn-lg text-white " style="background-color: #726fb7b3;">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="card border-0" style="background-color:#bbbbd5b3;">
          <div class="card-body">
            <img src="images/finde-zukunft-W1lkzFvXxIs-unsplash.jpg" class="card-img-top" alt="..." height="300px">
            <p style="font-size: 23px; padding-top:12px;">Headline</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p>#date#</p>
            <a href="blog_detail.html" class="btn btn-lg text-white" style="background-color: #726fb7b3;">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 
<%- include('partials/footer.ejs') %>