<%- include('partials/header.ejs') %>

  <div class="container-fluid " style="  padding: 0%; height: auto ; overflow: hidden; width: 100%;">
    <div class="row">
      <div class="card border-0 mb-3">
        <img style=" width: 100%;object-fit: cover; height: 450px;" src="images/keith-tanner-zOwj7ZXDfLc-unsplash.jpg"
          class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="blog-name card-title text-center ">Blog Title</h5>
          <p class="blog-headline card-text text-center">This is blog headline, Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempore quia commodi nesciunt error, repudiandae harum quibusdam quos amet libero
            suscipit!</p>
          <p class="blog-content card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            accusamus explicabo ipsum ipsa veritatis animi sed illum id aspernatur deleniti perferendis omnis iure, eum
            aperiam architecto. Corrupti odit dolorum quibusdam dolorem delectus fugiat ratione ab provident, corporis
            et, deleniti maxime harum. Harum, deserunt. Totam laboriosam ullam sit aperiam quibusdam nobis unde
            distinctio vitae veritatis id. Harum suscipit reiciendis saepe officia quisquam laborum earum cumque minima,
            eum a minus eveniet adipisci provident eligendi accusantium iste magni ducimus similique officiis alias
            recusandae dignissimos natus. Tenetur sapiente odio illum porro atque dolore assumenda quis? Fugiat
            voluptatibus ea ut facere? Distinctio molestias reiciendis id? Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Vel sit, dolor ab dolores ducimus animi vero aspernatur temporibus suscipit voluptate.
            Reiciendis eos in exercitationem nostrum voluptatum iure ea nemo vitae quae fugit eius debitis aperiam
            obcaecati voluptatibus expedita modi consequuntur sapiente, voluptas quibusdam asperiores neque aut incidunt
            laboriosam. Dignissimos totam, ab quibusdam enim, nobis quidem corporis ullam sunt aut excepturi
            perspiciatis placeat numquam esse quos, est quia officia voluptatum vel adipisci ut id suscipit perferendis
            distinctio ipsam! Expedita iste vitae doloribus sit alias earum quod eveniet sequi beatae numquam, maxime
            nulla consectetur minus, natus totam explicabo incidunt autem commodi ex.</p>
        </div>
        <div class="col-12 text-center text-muted" style="max-width: 100%; overflow-x:hidden; ">
          <p class="d-inline  " style="font-size: 1.6rem; font-style: italic;">Published By : </p>
          <img style="border-radius: 50%; height: 60px; " src="images/w.jpg" alt="">
          <p class=" d-inline" style="font-size: 1.4rem;">UserName</p>
          
        </div>
      </div>



    </div>



  </div>

  <div class="container-fluid mb-5 pb-3">
    <h2 class="text-center mt-5 pt-3 mb-5">Comments</h2>
    <div class=" container">
      <div class="row" style="max-width: 100%; overflow-x: hidden;">
        <hr>
        <div class="col-12" style="max-width: 100%; overflow-x:hidden;">
          <img style="border-radius: 50%; height: 70px;" src="images/person1.jpg" alt="">
          <p style="display: inline; margin-left: 15px; font-size: 1.2rem;">UserName</p>
        </div>
        <div class="col-12 mt-3 mb-3"
          style="margin-left:89px;overflow-x:hidden;height: auto; font-size:1.1rem; max-width:100%;">comment, Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Dolorem, sit?</div>
        <p class="text-muted" style="margin-left: 89px;">Posted on #date#</p>
        <hr>

        <div class="col-12" style="max-width: 100%; overflow-x:hidden;">
          <img style="border-radius: 50%; height: 70px;" src="images/person1.jpg" alt="">
          <p style="display: inline; margin-left: 15px; font-size: 1.2rem;">UserName</p>
        </div>
        <div class="col-12 mt-3 mb-3"
          style="margin-left:89px;overflow-x:hidden;height: auto; font-size:1.1rem; max-width:100%;">comment, Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Dolorem, sit?</div>
        <p class="text-muted" style="margin-left: 89px;">Posted on #date#</p>

        <hr>


      </div>
      <div class="row">
        <div class="input-group mb-3 mt-5">
          <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Type a comment"
            style="border:2px solid lightgrey; height:53px; width:300px;">
          <button class="btn btn-lg text-white " id="post"
            style="background-color: rgba(74,68,215,0.7) !important; width: 100px;">Post</button>
        </div>

      </div>

    </div>
  </div>


<%- include('partials/footer.ejs') %>