<%- include('partials/header.ejs') %>


  <div class="container p-0 mt-3">
        <div class="card" style="overflow-y:hidden; max-width: 100%; overflow-x:hidden;">
            <img src="images/Problem solving-pana.png" class="card-img" alt="...">
        </div>
        <h3 class="mt-4 mb-2" id="guided-project-heading" style="font-family:'Montserrat', sans-serif;">Guided Project Title</h3>
        <p class="my-0" id="problem-statement">Statement,Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum provident tenetur magni
            recusandae, repudiandae dolorem magnam. Repudiandae voluptatem assumenda recusandae!</p>
            <a id="solution-btn" href="#" class="btn mt-3 btn-lg text-white mb-5">Solution</a>
  </div>
        
<%- include('partials/footer.ejs') %>