<%- include('partials/header.ejs') %>


  <div class="container-fluid text-center p-0">
        <div class="card  " style="overflow-y:hidden; max-width: 100%; overflow-x:hidden;">
            <img src="images/Problem solving-pana.png" class="card-img" alt="...">
            
        </div>
        <h3 class="mt-5 mb-5" style="font-family:'Montserrat', sans-serif;">Problem Statement</h3>
        <p>Statement,Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum provident tenetur magni
            recusandae, repudiandae dolorem magnam. Repudiandae voluptatem assumenda recusandae!</p>
            <a href="#" class="btn mt-3 btn-lg text-white mb-5" style="background-color: #726fb7b3;">Solution</a>
  </div>
        
<%- include('partials/footer.ejs') %>