<%- include('partials/header.ejs') %>

  <!-- Profile Summary Heading Section -->
  <section class="profile-summary-heading" id="sec-4498">
    <h1>Profile Summary</h1>
  </section>

  <!-- Profile Form  -->
  <section class="container mt-5 pt-5">

    <div class="row">

      <!-- General Info Form  -->
      <div class="col-md-6 col-12">


        <form action="#" method="POST">

          <!-- Name Field  -->
          <div class="mb-3 input-div u-form-group u-form-name">
            <label for="name" class="u-custom-font u-font-montserrat u-label">Name</label>
            <input type="text" placeholder="Enter your Name" id="name" name="name"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required>
          </div>

          <!-- UserName Field  -->
          <div class="mb-3 input-div u-form-group u-form-name">
            <label for="username" class="u-custom-font u-font-montserrat u-label">Username</label>
            <input type="text" placeholder="Enter your Username" id="username" name="username"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required>
          </div>

          <!-- Email Field  -->
          <div class="mb-3 input-div u-form-email u-form-group">
            <label for="email" class="u-custom-font u-font-montserrat u-label">Email</label>
            <input type="email" placeholder="Enter your email address" id="email" name="email"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required>
          </div>

          <!-- Phone Field  -->
          <div class="mb-3 input-div u-form-address u-form-group u-form-group-3">
            <label for="phone" class="u-custom-font u-font-montserrat u-label">Phone</label>
            <input type="tel" id="phone" name="phone" placeholder="Phone No." required>
          </div>

          <!-- City Field  -->
          <div class="mb-3 input-div u-form-group u-form-phone u-form-group-4">
            <label for="city" class="u-custom-font u-font-montserrat u-label">City</label>
            <input type="text" id="city" name="city" placeholder="City" required>
          </div>

          <!-- Street No. Field  -->
          <div class="mb-3 input-div u-form-group u-form-group-5">
            <label for="street" class="u-custom-font u-font-montserrat u-label">Street No.</label>
            <input type="text" id="street" name="street" placeholder="Street No" required>
          </div>

          <!-- Zip code Field  -->
          <div class="mb-3 input-div u-form-group u-form-group-5">
            <label for="zipcode" class="u-custom-font u-font-montserrat u-label">Zip Code</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code" required>
          </div>

          <!-- Save Changes btn  -->
          <div class="u-align-center u-form-group u-form-submit">
            <input type="submit" value="Save
            Changes" id="general-info-form-btn"
              class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-custom-font u-font-montserrat u-text-active-custom-color-4 u-text-hover-custom-color-2 u-btn-1">
          </div>
        </form>

      </div>

      <!-- Profile Picture Form  -->
      <div class="container-fluid d-flex justify-content-center align-items-center col-md-6 col-12">


        <form action="#" method="POST" class="container-fluid d-flex justify-content-center align-items-center"
          enctype="multipart/form-data">

          <div>
            <!-- Old Profile Picture  -->
            <div class="d-flex justify-content-center mb-2 profile-pic-parent">
              <img src="images/blank-profile-picture-973460.svg" alt="sample-img">
            </div>

            <!-- New Profile Upload Input  -->
            <div class="mb-4 input-div">
              <label for="profile_pic" class="mx-1">Upload New Picture</label> <br>
              <input style="padding: 5px;" type="file" id="profile_pic" name="profile_pic" placeholder="Profile Pic"
                required class="mt-2">
            </div>

            <!-- Save Changes btn  -->
            <div class="u-align-center u-form-group u-form-submit">
              <input type="submit" value="Save
            Changes" id="profile-pic-form-btn"
                class="u-border-none u-btn u-btn-submit u-button-style u-custom-color-1 u-custom-font u-font-montserrat u-text-active-custom-color-4 u-text-hover-custom-color-2 u-btn-1">
            </div>
          </div>

        </form>

      </div>

    </div>


  </section>

  <!-- Badges Heading Section -->
  <section class="profile-summary-heading mt-5" id="sec-0a8f">
    <h1>Your Badges</h1>
  </section>

  <!-- Badges Section  -->
  <section class="mt-5 pt-5 mb-5 pb-5">

    <div class="conatiner">

      <div class="row">

        <div class="mb-4 col-md-3 col-12">
          <div class="d-flex flex-column justify-content-center align-items-center mb-2 badge-pic-parent">
            <img src="images/blank-profile-picture-973460.svg" alt="sample-img">
            <p class="badge-title m-0 p-0">
              Silver
            </p>
          </div>
        </div>

        <div class="mb-4 col-md-3 col-12">
          <div class="d-flex flex-column align-items-center justify-content-center mb-2 badge-pic-parent">
            <img src="images/blank-profile-picture-973460.svg" alt="sample-img">
            <p class="badge-title m-0 p-0">Bronze</p>
          </div>
        </div>

        <div class="mb-4 col-md-3 col-12">
          <div class="d-flex align-items-center flex-column justify-content-center mb-2 badge-pic-parent">
            <img src="images/blank-profile-picture-973460.svg" alt="sample-img">
            <p class="badge-title m-0 p-0">Diamond</p>
          </div>
        </div>

        <div class="mb-4 col-md-3 col-12">
          <div class="d-flex flex-column align-items-center justify-content-center mb-2 badge-pic-parent">
            <img src="images/blank-profile-picture-973460.svg" alt="sample-img">
            <p class="badge-title m-0 p-0">Platinum</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>