<%- include('partials/header.ejs') %>


  <div class="container d-flex justify-content-center mb-5 pb-5 mt-5">
    <div>
      <div class="mt-1 mb-2">
        <img src="images/4398.jpg" class="img-fluid" id="quiz-image" alt="quiz-image">
      </div>
      <div class="pt-2 pb-2">
        <h1 class="mt-4 mb-2 text-center" id="quiz-heading">Quiz</h1>
        <!-- Quiz Form  -->
        <form action="#" method="POST" class="mt-5">
          <p class="my-0">Question 1:</p>

          <div class="form-check">
            <div style="padding-top: 0.5rem;">
              <input class="form-check-input" type="radio"
                name="options" id="radio-1">
              <label class="form-check-label" for="radio-1">
                Option 1
              </label>
            </div>
          </div>


          <div class="form-check">
            <div style="padding-top: 0.5rem;">
              <input class="form-check-input" type="radio"
                name="options" id="radio-2">
              <label class="form-check-label" for="radio-2">
                Option 2
              </label>
            </div>
          </div>


          <div class="form-check">
            <div style="padding-top: 0.5rem;">
              <input class="form-check-input" type="radio"
                name="options" id="radio-3">
              <label class="form-check-label" for="radio-3">
                Option 3
              </label>
            </div>
          </div>


          <div class="form-check">
            <div style="padding-top: 0.5rem;">
              <input class="form-check-input" type="radio"
                name="options" id="radio-4">
              <label class="form-check-label" for="radio-4">
                Option 4
              </label>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %>