<%- include('partials/header.ejs') %>

  <h3 class="text-center roadmap-heading">Roadmap Title</h3>
  <a href="guided_project.html" class="buttons btn mt-4 mb-4">Guided Project</a>
  <a href="#" class="buttons btn mt-4 mb-4">Solution</a>
  <a href="quiz.html" class="buttons btn mt-4 mb-4">Quiz</a>
  <div class="container-fluid mb-5">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item accordians">
      <h2 class="accordion-header" id="flush-headingOne">
        <button style="background-color: #cecee1b3;" class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
          aria-controls="flush-collapseOne">
          Milestone 1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h5>
            Steps
          </h5>
          <ul>
            <li>Step 1</li>
            <li>Step 2 </li>
            <li>Step 3</li>
          </ul>
          <h5>
            Resources
          </h5>
          <ul>
            <li><a href="#">Link 1</a></li>
          </ul><br>
          <input type="button" class="button btn" value="Mark As Done">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Milestone 2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h5>
            Steps
          </h5>
          <ul>
            <li>Step 1</li>
            <li>Step 2 </li>
            <li>Step 3</li>
          </ul>
          <h5>
            Resources
          </h5>
          <ul>
            <li><a href="#">Link 1</a></li>
          </ul><br>
          <input type="button" class="button btn" value="Mark As Done">
        </div>
      </div>
    </div>
    <div class="accordion-item accordians">
      <h2 class="accordion-header" id="flush-headingThree">
        <button style="background-color: #cecee1b3;" class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
          aria-controls="flush-collapseThree">
          Milestone 3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h5>
            Steps
          </h5>
          <ul>
            <li>Step 1</li>
            <li>Step 2 </li>
            <li>Step 3</li>
          </ul>
          <h5>
            Resources
          </h5>
          <ul>
            <li><a href="#">Link 1</a></li>
          </ul><br>
          <input type="button" class="button btn" value="Mark As Done">
        </div>
      </div>
    </div>
  </div>
  </div>

<%- include('partials/footer.ejs') %>