<%- include('partials/header.ejs') %>


  <div class="container-fluid p-0">
    <div class="card bg-dark text-white" style="max-width: 100%; overflow-x:hidden;">
      <img src="images/11.jpg" class="card-img" alt="...">
      <div class="card-img-overlay ">
        <h5 style="margin-top: 137px; font-size: 2.8rem;" class="text-center text-white card-title"
          style="margin-top: 600px;">Tech Tracks</h5>
        <p class="card-text text-center">Get ready to walk on tracks of technology with us...</p>

      </div>
    </div>
  </div>
  <div class="container  d-flex justify-content-evenly  mb-5 " style="margin-bottom: 100px;">
    <div class="row roadmaps">

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <div class="card-body py-0">
            <h4 class="pt-3 trend-title text-center">Roadmap Title
            </h4>
            <p style="font-size: 1rem; text-align: start;">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores, quidem!</p>
            <a href="/trends">
              <button class="mt-0 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <div class="card-body py-0">
            <h4 class="pt-3 trend-title text-center">Roadmap Title
            </h4>
            <p style="font-size: 1rem; text-align: start;">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores, quidem!</p>
            <a href="/trends">
              <button class="mt-0 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <div class="card-body py-0">
            <h4 class="pt-3 trend-title text-center">Roadmap Title
            </h4>
            <p style="font-size: 1rem; text-align: start;">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores, quidem!</p>
            <a href="/trends">
              <button class="mt-0 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <div class="card-body py-0">
            <h4 class="pt-3 trend-title text-center">Roadmap Title
            </h4>
            <p style="font-size: 1rem; text-align: start;">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores, quidem!</p>
            <a href="/trends">
              <button class="mt-0 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <div class="card-body py-0">
            <h4 class="pt-3 trend-title text-center">Roadmap Title
            </h4>
            <p style="font-size: 1rem; text-align: start;">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores, quidem!</p>
            <a href="/trends">
              <button class="mt-0 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <div class="card-body py-0">
            <h4 class="pt-3 trend-title text-center">Roadmap Title
            </h4>
            <p style="font-size: 1rem; text-align: start;">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Maiores, quidem!</p>
            <a href="/trends">
              <button class="mt-0 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>


  
    </div>
  </div>

<%- include('partials/footer.ejs') %>