<%- include('partials/header.ejs') %>

  <h1 class="text-center mt-5" id="trends-heading">Top Trends</h1>
  
  <div class="container-fluid d-flex justify-content-center align-items-center pt-3 mb-5 pb-5">
    <div class="row roadmaps mt-5 pt-5">

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <h4 class="pt-3 trend-title text-center">Trend Title
          </h4>
          <div class="container-fluid">
            <img src="https://builtin.com/sites/www.builtin.com/files/styles/blog_thumbnail/public/2022-02/blockchain-nfts.png" class="trend-pic" alt="trend-pic">
          </div>
          <div class="card-body py-0">
            <a href="/trends">
              <button class="mt-3 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <h4 class="pt-3 trend-title text-center">Trend Title
          </h4>
          <div class="container-fluid">
            <img src="https://builtin.com/sites/www.builtin.com/files/styles/blog_thumbnail/public/2022-02/blockchain-nfts.png" class="trend-pic" alt="trend-pic">
          </div>
          <div class="card-body py-0">
            <a href="/trends">
              <button class="mt-3 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 text-center roadmaps">
        <div class="card shadow card-media trend-parent p-0" style="width: 18rem;">
          <h4 class="pt-3 trend-title text-center">Trend Title
          </h4>
          <div class="container-fluid">
            <img src="https://builtin.com/sites/www.builtin.com/files/styles/blog_thumbnail/public/2022-02/blockchain-nfts.png" class="trend-pic" alt="trend-pic">
          </div>
          <div class="card-body py-0">
            <a href="/trends">
              <button class="mt-3 trend-btn mb-3">Visit</button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>



<%- include('partials/footer.ejs') %>