h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 2.7rem;
    font-family: 'Montserrat', sans-serif;
}

.blog-name {
    width: 300px;
    font-size: 3rem;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.blog-headline {
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 50px;
    font-weight: bold;
}

.blog-content {
    font-size: 1.2rem;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.blog-published-by {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;

}

.buttons {
    background-color: #48abe0;
    color: white;
    display: block;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 60px;
    width: 60px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 0 2px darkslategray;
    border-radius: 70%;
    margin-left: 20px;
    margin-top: 0;
}
.icon{
    filter: brightness(0) invert(1);
}

.button {

    width: 100px;
    background-color: #4a44d7b3;
    color: white;
}

@media  screen and (max-width: 540px) {
    #circle-btn {
        margin-top: 7px;
        }
    #post{
        margin-top: 10px;
    }
  }
